.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Flex-1 {
  flex: 1 0 25%;
}

.Flex-2 {
  flex: 1 1 75%;
}

.Section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 21px;
}

.CalculatorSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 9px 30px;
  width: 85%;
}

.CalculatorSectionItems {
  flex: 1 1 40%;
}

.ParagraphContainer {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
