.Calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #5315e3;
  border-radius: 3px;
  margin: 30px;
  padding: 21px;
  transition: box-shadow 1.5s;
}

.Calculator:hover {
  box-shadow: 0 0 8px 12px #c6b5ec;
}

.Screen-div {
  padding: 15px;
  align-self: stretch;
  background: #8b8888;
  text-align: end;
  font-size: 12px;
  color: #fff;
}

.Buttons-grid {
  display: grid;
  grid-template: repeat(5, 1fr)/repeat(4, 1fr);
}

.Button {
  padding: 15px;
  font-size: 12px;
  border: 1px solid #e5c7b2;
}

.Orange-button {
  background-color: #f98538;
}

.Zero {
  grid-column: 1/span 2;
}
