@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Lato:wght@300&family=Permanent+Marker&family=Raleway:wght@200&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'David Libre', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  margin-top: 150px;
}
